<%= render './nav' %>

<div id="sort-controls">
	<div class="sort" data-sort="time:desc">Sooner</div>
	<div class="sort" data-sort="time:asc">Later</div>
</div>

<div id="filter-controls">
	<div class="filter" data-filter="all">All</div>
	<% @categories.each do |cat| %>
		<div class="filter" data-filter=".category-<%= cat.id %>">
			<%= cat.name %>
		</div>
	<% end %>
</div>

<div id="EventList">
	<% @events.reverse.each_with_index do |event, index| %>
		<div class="mix category-<%= event.category_id %>" data-value="<%= index + 1 %>" data-time="<%= Time.now - event.event_start %>"> 
			 <%= link_to event.name, event %><br>
			 <%= event.price %><br>
			 <%= event.event_start.strftime("%c") %><br>
		</div>

	<%end%>
</div>
