<%= render './nav' %>

<% @events.each do |event| %>
  <ul>
    <li><%= link_to event.name, event %></li><br>
    <ul>
      <li>Category: <%= event.category.name %></li><br>
      <li>Price: $<%= event.price %></li><br>
      <li>Starts at: <%= event.event_start.strftime("%c") %></li>
    </ul>
  </ul>

<%end%>
