<%= render './nav' %>

<div id="sort-controls">
	<h3>Sort by Date:</h3>
	<div class="sort" data-sort="time:desc">Sooner</div>
	<div class="sort" data-sort="time:asc">Later</div>
</div>


<div id="filter-controls">
	<h3>Filter by Category:</h3>
	<div class="filter" data-filter="all">All</div>
	<% @categories.each do |cat| %>
		<div class="filter" data-filter=".category-<%= cat.id %>">
			<%= cat.name %>
		</div>
	<% end %>
</div>

<div class="border clear"></div>

<div id="EventList">
	<% @events.reverse.each_with_index do |event, index| %>
		<% if Time.now < event.event_end %>
			<div class="mix category-<%= event.category_id %>" data-value="<%= index + 1 %>" data-time="<%= Time.now - event.event_start %>"> 
			<%= link_to event.name, event %><br>
			<%= event.event_start.strftime("%B %e, %Y @ %l:%M%p") %><br>
			<%= number_to_currency(event.price_per_person, precision: 2) %><br>
			</div>
		<% end %>

	<%end%>
</div>

<div class='clear'></div>