<%= render './nav' %>

<h2><%= @event.name %></h2>
<h3>Created by: <%= @event.name %></h3>

<ul>
  <li>Price: $<%= @event.price %></li>
  <li><%= "#{@event.event_start.strftime("%A, %B %e, %Y")}" %></li>
  <li><%= "#{@event.event_start.strftime("%l:%M%p")}" %></li>
  
  <li><%= @event.description%></li>
  <li>Sign Up By:</li>
  <li><%= "#{@event.signup_end.strftime("%A, %B %e, %Y")}" %></li>
  <li><%= "#{@event.signup_end.strftime("%l:%M%p")}" %></li>
</ul>

<!-- If an attendance entry already exists for current user and event id, display unattend button -->

<!-- else display attend button -->

<% if Time.now > @event.signup_end %>
  <%= button_to "Sign up for this event is now closed", {}, disabled: true %>
<% else %>
  <% if @attending == false %>
  <%= button_to "Attend", attendances_path(@event), id: "attend" %>
  <% else %>
    <%= button_to "Un-Attend", attendance_path(@event), method: :delete %>
  <%end%>
<% end %>

<div class="container">
<h4>Comments Section</h4>
  <% @event.comments.each do |comment| %>
    <div class="container">
      <h4><%= comment.user.name %></h4>
      <p><%= comment.content %></p>
      <% if comment.user.id == session[:user_id] %>
        <%= button_to "Delete Comment", event_comment_path(@event.id, session[:user_id], comment.id), method: :delete %>
      <% end %>
    </div>
  <% end %>
  <h5>Comment on this post:</h5>
  <%= form_for @comment, url: event_comments_path(@event.id) do |f| %>
    <%= f.label :content, "Content:" %><br>
    <%= f.text_area :content, size: '40x10' %><br><br>
    <%= f.submit "Comment" %>
  <% end %>

</div>



