<%= render './nav' %>

<div id='event-details'>

<ul class='details'>
<h2><%= @event.name %></h2>
<h3>Creator: <%= @event.creator.name %></h3>

  <li><%= "#{@event.event_start.strftime("%A - %B %e, %Y")}" %> @ 
  <%= "#{@event.event_start.strftime("%l:%M %p")}" %></li>
  <li>Current Price: <%= number_to_currency(@event.price_per_person, precision: 2) %></li>
</ul>
  
  <p class='description'> <%= @event.description%> </p>
  <p><b>Sign up by:</b> <br>

    <%= "#{@event.signup_end.strftime("%A, %B %e, %Y")}" %>
    <%= "#{@event.signup_end.strftime("%l:%M%p")}" %>

    <% if Time.now < @event.signup_start %>
      <%= button_to "Sign up starts #{@event.signup_start.strftime("%B %e, %Y @ %l:%M%p")}", {}, disabled: true, id: 'signup-closed' %>
    <% elsif Time.now > @event.signup_end %>
      <%= button_to "Sign up for this event is now closed", {}, disabled: true, id: 'signup-closed' %>
    <% else %>
      <% if @attending == false %>
      <%= button_to "Attend", attendances_path(@event), id: "attend" %>
      <% else %>
        <%= button_to "Un-Attend", attendance_path(@event), id: "unattend", method: :delete %>
      <%end%>
    <% end %>
    </p>

</div>

<div id='attendees'>
  <% if @event.user_id == session[:user_id] %>
  <h3>People Attending:</h3>
    <% if @people.any? %>
      <% @people.each do |peep| %>
      <table>
        <tr>
          <td><%= peep.name %></td>
          <td>Has paid: <%= peep.attendances.where(event_id: @event.id).first.is_paid %></td>
        </tr>
        </table>
      <% end %>
      <% else %>
      <p>If you book them, they will come.</p>
      <% end %>
  <% end %>

</div>

<div class="teal-border"></div>

<div id="comment-section">
  <div id='comment-box'>
    <h4>Care to comment?</h4>
    <%= form_for @comment, url: event_comments_path(@event.id) do |f| %>
      <%= f.text_area :content, size: '50x8' %><br><br>
      <%= f.submit "Comment", id: 'comment-btn' %>
    <% end %>
  </div>

  <div id='comments'>
    <% @event.comments.each do |comment| %>
        <h4 class='author'><%= comment.user.name %>
        <% if comment.user.id == @current_user.id || @creator.id == @current_user.id || @current_user.is_admin %>
          <%= button_to "X", event_comment_path(@event.id, session[:user_id], comment.id), id:'delete-btn', method: :delete %>
        <% end %></h4>
        <p><%= comment.content %></p>
        <div class='gray-border'></div>
    <% end %>
  </div>
</div>

<div class='clear'></div>